body {
  background-color: #ffe2e0;
}

.PageWrapper {
  margin: 0 auto;
  margin: 100px 100px;
  color: #8a605e;
  /* max-width: 0px; */
}

.LoginLogo {
  font-size: 48px;
  font-weight: bold;
  line-height: 48px;
  margin: 0;
}

.LoginWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  max-width: 300px;
  min-height: 100vh;
  padding: 25px;
}

.CreatePostWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  max-width: 300px;
}

.FormElement {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 8px;
}

.FormElement input {
  appearance: none;
  background-color: #ececec;
  border: 1px solid #98eeb5;
  border-radius: 0;
  font-size: 12px;
  font-weight: 600;
  max-width: 300px;
  padding: 8px;
  text-align: center;
}

.FormElement label {
  font-size: 10px;
  font-weight: 800;
  margin-bottom: 4px;
  margin-top: 32px;
}

.ButtonWrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.Button {
  appearance: none;
  background: #d6a9a7;
  border: 1px solid #8a605e;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 800;
  padding: 8px 4px;
  width: 120px;
}

.Button a {
  color: black;
  text-decoration: none;
}

.LogButton {
  appearance: none;
  background: #d6a9a7;
  border: 1px solid #8a605e;
  border-radius: 10px;
  padding: 8px 4px;
  width: 120px;
}

.LogButton p {
  color: black;
  text-decoration: none;
  font-size: 12px;
  font-weight: 800;
  color: black;
  text-decoration: none;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.BoldLoginText {
  font-size: 12px;
  font-weight: 800;
  margin: 0;
  margin-bottom: 12px;
}

.BoldLoginText a {
  color: #8a605e;
}

.Header {
  border-bottom: 1px solid #d6a9a7;
  display: flex;
  padding: 20px 25px;
}

.Header .Logo {
  flex-shrink: 0;
  font-size: 16px;
  font-weight: bolder;
  height: 16px;
  line-height: 16px;
  margin: auto;
}

.Header .Logo a {
  color: #8a605e;
  text-decoration: none;
}

nav {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  max-width: 1080px;
  width: 100%;
}

nav p {
  color: #8a605e;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  margin: 0 40px 0 0;
  text-align: center;
  align-items: center;
  /* width: 100%; */
}

nav p a {
  color: #8a605e;
  text-decoration: none;
  align-items: center;
  display: flex;
  justify-content: center;
}

.BookPostWrapper {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.BookPost {
  background-color: #d6a9a7;
  border: 1px solid #8a605e;
  margin-bottom: 40px;
  max-width: 350px;
  min-height: 350px;
  width: 100%;
  border-radius: 20px;
}

.BookPost img {
  height: auto;
  width: 100%;
}

.BookPostText {
  padding: 25px;
}

.BookPostText p {
  font-size: 12px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 12px;
}

.BookPostText p a {
  color: #8a605e;
  text-decoration: none;
}
